spring:
  application:
    name: coolbank
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/coolbank}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:1234}
    driver-class-name: org.postgresql.Driver
  liquibase:
    change-log: db/changelog/db.changelog-master.yaml
    enabled: true
